.tip-button {
    box-sizing: border-box;
    border: none;
    background-color: none;
    padding: 20px;
    width: 16%;
    margin-right: 2%;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 2px;
}

.tip-button:hover {
    color: #350c22;
    background-color: black;
}

.tip-button:focus  {
    color: rgb(255, 255, 255);
    background-color: black;   
}