.title {
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 10px;    
    font-size: 1rem;
}

.currentTip {
    background-color: red!important;
}