.main {
    max-width: 900px;
    background: rgba(0,0,0,0.1);
    margin: 20px auto;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    font-family: 'Roboto Mono';
    font-weight: 100;
    font-size: 16px;
}

.main h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
}

.error{
    color: #d03232;
    background: #ffb1b1;
    padding: 5px 20px;
    font-weight: bold;
    border: 1px solid #ffb1b1;
    border-radius: 2px;
    margin-right: 20px;
    font-size: 0.8rem;
    text-align: center;
    display: inline-block;
}
.currentButton {
    background-color: black !important;
    color: #ffb1b1;
}

@media screen and (min-width: 600px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
       
}

hr {
    color: white;
    border: none;
}

.results {
    background: rgba(0,0,0,.3);
    padding: 20px 30px;
    border-radius: 2px;
    margin-bottom: 10px;
}

